@tailwind base;
@tailwind components;
@tailwind utilities;
* { font-family: 'Inter', sans-serif; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #d4d4d8; border-radius: 999px; }
.dark ::-webkit-scrollbar-thumb { background: #3f3f46; }
